@media only screen and (max-width: 995px) {
  .visit-store {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
  }
}
.Link:hover {
  cursor: pointer;
  font-style: italic;
  color: #1bc814;
}
