@media only screen and (max-width: 600px) {
  .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color : white;
  }
  .profiler {
    margin-right: 8em !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    color : white;
  }
  .cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
  }
  .navbar {
    background-color : black !important;
    
  }
}
